In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([1,2,3])

print(df)

   0
0  1
1  2
2  3

In [3]:
df = pd.DataFrame([1,2,3], dtype=np.float16)
print(df)
print(type(df))

     0
0  1.0
1  2.0
2  3.0
<class 'pandas.core.frame.DataFrame'>

In [4]:
df = pd.DataFrame(['1','2','3'])
print(df)

   0
0  1
1  2
2  3

In [5]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
df = pd.DataFrame([[1,2,3],[4,5,6,7],[7,8,9]])
print(df)

   0  1  2    3
0  1  2  3  NaN
1  4  5  6  7.0
2  7  8  9  NaN

In [7]:
df = pd.DataFrame(5,index=[0,1], columns=[0,1,2])
print(df)

   0  1  2
0  5  5  5
1  5  5  5

In [8]:
df = pd.DataFrame(5,index=['a', 'b'], columns=['col1', 'col2', 'col3'])
print(df)

   col1  col2  col3
a     5     5     5
b     5     5     5

In [9]:
df = pd.DataFrame([1,2,3],index=['a', 'b', 'c'])
#df = pd.DataFrame([1,2,3],columns=['a', 'b', 'c']) this is not allowed

print(df)

   0
a  1
b  2
c  3

In [10]:
df = pd.DataFrame([[1,2],[3,4],[5,6]],index=['row1','row2','row3'],columns=['a','b'])
print(df)

      a  b
row1  1  2
row2  3  4
row3  5  6

In [11]:
df = pd.DataFrame({'col1':[1,2,3], 'col2': [4,5,6]})
#df = pd.DataFrame({'col1':[1,2,3], 'col2: [4,5,6,7]'}) #this is not allowed
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [12]:
df = pd.DataFrame({'col1':{'row1':1, 'row2':2,'row3':3}, 'col2': {'row1':4, 'row3':5, 'row4':6}})
print(df)

      col1  col2
row1   1.0   4.0
row2   2.0   NaN
row3   3.0   5.0
row4   NaN   6.0

In [13]:
df = pd.DataFrame({'col1':pd.Series([1,2,3]), 'col2': pd.Series([4,5,6])})
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [18]:
df = pd.DataFrame({'col1':{'row1' : 1, 'row2' : 2, 'row3' : 3}, 'col2':{'row1' : 10, 'row2' : 20, 'row3' : 30}, 'col3':{'row1' : 100, 'row2' : 200, 'row3' : 300}})
print(df)
print("------------------")
# Columns
first_col = df['col1']
print(first_col)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300
------------------
row1    1
row2    2
row3    3
Name: col1, dtype: int64

In [21]:
df = pd.DataFrame({'col1':{'row1' : 1, 'row2' : 2, 'row3' : 3}, 'col2':{'row1' : 10, 'row2' : 20, 'row3' : 30}, 'col3':{'row1' : 100, 'row2' : 200, 'row3' : 300}})
print(df)
print("------------------")
# Rows
first_row = df.loc['row1']
print(first_row)
print("------------------")
first_row = df.iloc[0]
print(first_row)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300
------------------
col1      1
col2     10
col3    100
Name: row1, dtype: int64
------------------
col1      1
col2     10
col3    100
Name: row1, dtype: int64

In [23]:
first =[]
first.append(df['col1'].loc['row1'])
first.append(df['col1'].iloc[0])
first.append(df.loc['row1', 'col1'])
first.append(df.iloc[0,0])
print(first)

[1, 1, 1, 1]

In [32]:
df = pd.DataFrame({'col1':{'row1' : 1, 'row2' : 2, 'row3' : 3}, 'col2':{'row1' : 10, 'row2' : 20, 'row3' : 30}, 'col3':{'row1' : 100, 'row2' : 200, 'row3' : 300}})
print(df)
print("------------------")
#Columns slicing
cols = df[['col1', 'col2']]
print(cols)
print("------------------")
#Row slicing
rows = df.iloc[[0,1]]
print(rows)
rows = df.iloc[:2]
print(rows)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300
------------------
      col1  col2
row1     1    10
row2     2    20
row3     3    30
------------------
      col1  col2  col3
row1     1    10   100
row2     2    20   200
      col1  col2  col3
row1     1    10   100
row2     2    20   200

In [33]:
rows = df.iloc[::2]
print(rows)

      col1  col2  col3
row1     1    10   100
row3     3    30   300

In [34]:
rows = df.iloc[:,:2]
print(rows)

      col1  col2
row1     1    10
row2     2    20
row3     3    30

In [35]:
rows = df[df['col1']>1]

print(rows)

      col1  col2  col3
row2     2    20   200
row3     3    30   300

In [38]:
#First/last n rows
n_rows = df.head(2)
print(n_rows)
n_rows = df.tail(1) #empty is default
print(n_rows)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
      col1  col2  col3
row3     3    30   300