In [29]:
import pandas as pd

In [30]:
df_1 = pd.DataFrame({'col1':{'row1':1, 'row2':2, 'row3':3}, 'col2': {'row1':4, 'row3':5, 'row4':3}, 'col3' : {'row1':7, 'row2':5, 'row6': 10, 'row7': 7}})
df_2 = pd.DataFrame({'col1':{'row1':10, 'row2':2, 'row3':9}, 'col2': {'row1':4, 'row3':5, 'row4':6}, 'col3' : {'row1':3, 'row2':5, 'row6': 0, 'row7': 8}})

print(df_1)
print(df_2)
print("------------------")

      col1  col2  col3
row1   1.0   4.0   7.0
row2   2.0   NaN   5.0
row3   3.0   5.0   NaN
row4   NaN   3.0   NaN
row6   NaN   NaN  10.0
row7   NaN   NaN   7.0
      col1  col2  col3
row1  10.0   4.0   3.0
row2   2.0   NaN   5.0
row3   9.0   5.0   NaN
row4   NaN   6.0   NaN
row6   NaN   NaN   0.0
row7   NaN   NaN   8.0
------------------

In [31]:
df_1['col4'] = [1,2,3,4,5,6]
df_1.loc['row5'] = [10,20,30,40]
print(df_1)

      col1  col2  col3  col4
row1   1.0   4.0   7.0     1
row2   2.0   NaN   5.0     2
row3   3.0   5.0   NaN     3
row4   NaN   3.0   NaN     4
row6   NaN   NaN  10.0     5
row7   NaN   NaN   7.0     6
row5  10.0  20.0  30.0    40

In [32]:
df_1 = df_1.append(pd.Series([11,12,13,14], index=['col1','col2','col3', 'col4']), ignore_index=True)
print(df_1)

   col1  col2  col3  col4
0   1.0   4.0   7.0     1
1   2.0   NaN   5.0     2
2   3.0   5.0   NaN     3
3   NaN   3.0   NaN     4
4   NaN   NaN  10.0     5
5   NaN   NaN   7.0     6
6  10.0  20.0  30.0    40
7  11.0  12.0  13.0    14

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6580\450580467.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1 = df_1.append(pd.Series([11,12,13,14], index=['col1','col2','col3', 'col4']), ignore_index=True)

In [33]:
df_1 = pd.DataFrame({'col1':{'row1':1, 'row2':2, 'row3':3}, 'col2': {'row1':4, 'row3':5, 'row4':3}, 'col3' : {'row1':7, 'row2':5, 'row6': 10, 'row7': 7}})
df_2 = pd.DataFrame({'col1':{'row1':10, 'row2':2, 'row3':9}, 'col2': {'row1':4, 'row3':5, 'row4':6}, 'col3' : {'row1':3, 'row2':5, 'row6': 0, 'row7': 8}})

combined = df_1.combine_first(df_2)
print(combined)

      col1  col2  col3
row1   1.0   4.0   7.0
row2   2.0   NaN   5.0
row3   3.0   5.0   NaN
row4   NaN   3.0   NaN
row6   NaN   NaN  10.0
row7   NaN   NaN   7.0

In [34]:
combined2 = pd.concat([df_1, df_2])
print(combined2)

      col1  col2  col3
row1   1.0   4.0   7.0
row2   2.0   NaN   5.0
row3   3.0   5.0   NaN
row4   NaN   3.0   NaN
row6   NaN   NaN  10.0
row7   NaN   NaN   7.0
row1  10.0   4.0   3.0
row2   2.0   NaN   5.0
row3   9.0   5.0   NaN
row4   NaN   6.0   NaN
row6   NaN   NaN   0.0
row7   NaN   NaN   8.0

In [35]:
dropped = df_1.drop(index=['row4'], columns=['col3'])
print(dropped)

      col1  col2
row1   1.0   4.0
row2   2.0   NaN
row3   3.0   5.0
row6   NaN   NaN
row7   NaN   NaN

In [36]:
del df_1['col2']
print(df_1)

      col1  col3
row1   1.0   7.0
row2   2.0   5.0
row3   3.0   NaN
row4   NaN   NaN
row6   NaN  10.0
row7   NaN   7.0

In [37]:
popped = df_1.pop('col1')
print(popped)

row1    1.0
row2    2.0
row3    3.0
row4    NaN
row6    NaN
row7    NaN
Name: col1, dtype: float64

In [38]:
df = pd.DataFrame({'col1':{'row1':1, 'row2':2, 'row3':3}, 'col2': {'row1':4, 'row3':5, 'row4':3}, 'col3' : {'row1':7, 'row2':5, 'row6': 10, 'row7': 7}})
print(df)
print("---------------------")

# Reassinging values
df['col1'] = [2.0, 3, 4, 5,6, 10]
print(df)

      col1  col2  col3
row1   1.0   4.0   7.0
row2   2.0   NaN   5.0
row3   3.0   5.0   NaN
row4   NaN   3.0   NaN
row6   NaN   NaN  10.0
row7   NaN   NaN   7.0
---------------------
      col1  col2  col3
row1   2.0   4.0   7.0
row2   3.0   NaN   5.0
row3   4.0   5.0   NaN
row4   5.0   3.0   NaN
row6   6.0   NaN  10.0
row7  10.0   NaN   7.0

In [39]:
df['col2'] = pd.Series({'row1':1, 'row2':2, 'row3':3, 'row4':4})
print(df)

      col1  col2  col3
row1   2.0   1.0   7.0
row2   3.0   2.0   5.0
row3   4.0   3.0   NaN
row4   5.0   4.0   NaN
row6   6.0   NaN  10.0
row7  10.0   NaN   7.0

In [40]:
df.loc['row1'] = [10, 11, 12]
print(df)

      col1  col2  col3
row1  10.0  11.0  12.0
row2   3.0   2.0   5.0
row3   4.0   3.0   NaN
row4   5.0   4.0   NaN
row6   6.0   NaN  10.0
row7  10.0   NaN   7.0

In [41]:
df = df.fillna(0)
print(df)

In [42]:
# Restructuring
restructureddf = df.reindex(columns=['col3', 'col2', 'col1'])
df.columns = ['1', '2', '3']
print(restructureddf)

      col3  col2  col1
row1  12.0  11.0  10.0
row2   5.0   2.0   3.0
row3   0.0   3.0   4.0
row4   0.0   4.0   5.0
row6  10.0   0.0   6.0
row7   7.0   0.0  10.0

In [45]:
restructureddf = df.reindex(index=['row3', 'row4','row2','row1', 'row0'])
print(restructureddf)

         1     2     3
row3   4.0   3.0   0.0
row4   5.0   4.0   0.0
row2   3.0   2.0   5.0
row1  10.0  11.0  12.0
row0   NaN   NaN   NaN

In [48]:
df.index = ['r1','r2','r3','r4', 'r5', 'r6']
print(df)

       1     2     3
r1  10.0  11.0  12.0
r2   3.0   2.0   5.0
r3   4.0   3.0   0.0
r4   5.0   4.0   0.0
r5   6.0   0.0  10.0
r6  10.0   0.0   7.0