In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.DataFrame({'col1':{'row1':1, 'row2':2, 'row3':3}, 'col2': {'row1':4, 'row3':5, 'row4':3}, 'col3' : {'row1':7, 'row2':5, 'row6': 10, 'row7': 7}})

# Arithmetic
result = df + 5
print(result)

      col1  col2  col3
row1   6.0   9.0  12.0
row2   7.0   NaN  10.0
row3   8.0  10.0   NaN
row4   NaN   8.0   NaN
row6   NaN   NaN  15.0
row7   NaN   NaN  12.0

In [26]:
result = df.add(5, fill_value=0)
print(result)

      col1  col2  col3
row1   6.0   9.0  12.0
row2   7.0   5.0  10.0
row3   8.0  10.0   5.0
row4   5.0   8.0   5.0
row6   5.0   5.0  15.0
row7   5.0   5.0  12.0

# Transform

In [27]:
result1 = df.transform(np.square)
print(result1)

      col1  col2   col3
row1   1.0  16.0   49.0
row2   4.0   NaN   25.0
row3   9.0  25.0    NaN
row4   NaN   9.0    NaN
row6   NaN   NaN  100.0
row7   NaN   NaN   49.0

In [28]:
def f(x):
    return (2*x) + 5
result2 = df.transform(f)
print(result2)

      col1  col2  col3
row1   7.0  13.0  19.0
row2   9.0   NaN  15.0
row3  11.0  15.0   NaN
row4   NaN  11.0   NaN
row6   NaN   NaN  25.0
row7   NaN   NaN  19.0

In [29]:
result3 = df.transform('square')
print(result3)

      col1  col2   col3
row1   1.0  16.0   49.0
row2   4.0   NaN   25.0
row3   9.0  25.0    NaN
row4   NaN   9.0    NaN
row6   NaN   NaN  100.0
row7   NaN   NaN   49.0

In [30]:
result4 = df.transform(lambda x: x**2)
print(result4)

      col1  col2   col3
row1   1.0  16.0   49.0
row2   4.0   NaN   25.0
row3   9.0  25.0    NaN
row4   NaN   9.0    NaN
row6   NaN   NaN  100.0
row7   NaN   NaN   49.0

In [31]:
result5 = df.transform([np.square, np.log])
print(result5)

       col1             col2             col3
     square       log square       log square       log
row1    1.0  0.000000   16.0  1.386294   49.0  1.945910
row2    4.0  0.693147    NaN       NaN   25.0  1.609438
row3    9.0  1.098612   25.0  1.609438    NaN       NaN
row4    NaN       NaN    9.0  1.098612    NaN       NaN
row6    NaN       NaN    NaN       NaN  100.0  2.302585
row7    NaN       NaN    NaN       NaN   49.0  1.945910

In [32]:
result6 = df.transform({'col1' : np.square, 'col2':np.log})
print(result6)

      col1      col2
row1   1.0  1.386294
row2   4.0       NaN
row3   9.0  1.609438
row4   NaN  1.098612
row6   NaN       NaN
row7   NaN       NaN

# Transpose

In [33]:
result7 = df.transpose()
print(result7)

      row1  row2  row3  row4  row6  row7
col1   1.0   2.0   3.0   NaN   NaN   NaN
col2   4.0   NaN   5.0   3.0   NaN   NaN
col3   7.0   5.0   NaN   NaN  10.0   7.0

# Type casting

In [36]:
resultx = df.astype('object')
resultx = df.astype(np.float16)
print(resultx)

      col1  col2  col3
row1   1.0   4.0   7.0
row2   2.0   NaN   5.0
row3   3.0   5.0   NaN
row4   NaN   3.0   NaN
row6   NaN   NaN  10.0
row7   NaN   NaN   7.0

# sorting

In [39]:
resultr = df.sort_index(axis=1, ascending=False)
print(resultr)

      col3  col2  col1
row1   7.0   4.0   1.0
row2   5.0   NaN   2.0
row3   NaN   5.0   3.0
row4   NaN   3.0   NaN
row6  10.0   NaN   NaN
row7   7.0   NaN   NaN

In [40]:
resultr = df.sort_values('col3',axis=0)
print(resultr)

      col1  col2  col3
row2   2.0   NaN   5.0
row1   1.0   4.0   7.0
row7   NaN   NaN   7.0
row6   NaN   NaN  10.0
row3   3.0   5.0   NaN
row4   NaN   3.0   NaN