In [ ]:
#split & join

In [2]:
items = "zero one two three"
items.split(" ")

['zero', 'one', 'two', 'three']

In [9]:
example = "python, java, javascript"
for content in example.split (","):
    print(content.strip())

python
java
javascript

In [11]:
example = "teamlab.techonology.io"
subdomain, domain, tld = example.split(".")

In [13]:
print(subdomain)
print(domain)
print(tld)

teamlab
techonology
io

In [17]:
colors = ["red", "blue", "green", "yellow"]
"-".join(colors)

'red-blue-green-yellow'

In [18]:
#list comprehension

In [19]:
#general style
result = []
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
#list comprehension
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#list comprehension nested list
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [26]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j for i in case_1 for j in case_2 if not(i==j)] #Filter : i랑 j가 같다면 list에 추가하지 않음
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [28]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j if not (i == j) else i for i in case_1 for j in case_2] #Filter : if-else
result

['AD', 'AE', 'A', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [41]:
#two dimentiosnal VS one dimensional
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j if not (i == j) else i for i in case_1 for j in case_2]
print(result)
result = [[i+j for i in case_1] for j in case_2]
print(result)

['AD', 'AE', 'A', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [42]:
#Enumerate

In [43]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [45]:
#zip

In [46]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [47]:
[c for c in zip(alist, blist)]

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [50]:
math = (100, 90, 80)
kor = (90, 80, 70)
eng = (90, 80, 70)

[sum(value) / 3 for value in zip(math, kor, eng)]

[93.33333333333333, 83.33333333333333, 73.33333333333333]

In [51]:
#enumerate & zip

TypeError: unsupported operand type(s) for &: 'type' and 'type'

In [53]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]
for i, values in enumerate(zip(alist,blist)):
    print(i, values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [ ]:
#lamda

In [56]:
#general
def f(x, y):
    return x + y
print(f(1,4))
f = (lambda x, y : x + y)
f(10,50)
(lambda x, y : x + y)(10, 50)

5

60

In [60]:
up_low = lambda x : x.upper() + x.lower()

In [62]:
up_low("My Happy")

'MY HAPPYmy happy'

In [ ]:
#map

In [68]:
ex = [1,2,3,4,5]
f = lambda x, y : x + y
print(list(map(f,ex, ex)))

[2, 4, 6, 8, 10]

In [72]:
f = lambda x: x **2
[f(value) for value in ex]

[1, 4, 9, 16, 25]

In [74]:
list(map(lambda x : x** 2 if x% 2 ==0 else x, ex))

[1, 4, 3, 16, 5]

In [ ]:
list(
    map(
    lambda x: x** 2 
    )
)

In [ ]:
#reduce

In [75]:
from functools import reduce
print(reduce(lambda x, y: x+y, [1,2,3,4,5]))

15

In [ ]:
#iterable object

In [78]:
cities = ["Seoul", "Busan", "Jeju"]
iter_obj = iter(cities)
print(iter_obj)
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))
next(iter_obj)

<list_iterator object at 0x0000020C4FF14340>
Seoul
Busan
Jeju

StopIteration:

In [86]:
#generator

In [87]:
def general_list(value):
    result =[]
    for i in range(value):
        result.append(i)
    return result

In [88]:
print(general_list(50))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [89]:
import sys
result = general_list(50)
sys.getsizeof(result)

472

In [80]:
def generator_list(value):
    result =[]
    for i in range(value):
        yield i

In [92]:
generator_list(50)

In [91]:
for i in generator_list(50):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [94]:
sys.getsizeof(generator_list(50))

112

In [ ]:
#generator comprehension

In [98]:
gen_ex = (n*n for n in range(10))
print(type(gen_ex))

<class 'generator'>

In [99]:
for i in gen_ex:
    print(i)

0
1
4
9
16
25
36
49
64
81

In [ ]:
#keyword argument

In [100]:
def print_something(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something("JA", "VA")
print_something(your_name="Va", my_name="JA")

Hello VA, My name is JA
Hello Va, My name is JA

In [ ]:
#default arguments

In [101]:
def print_something(my_name, your_name = "Ja"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something("JA", "VA")
print_something("VA")

Hello VA, My name is JA
Hello Ja, My name is JA

In [ ]:
#asterisk

In [103]:
def asterisk_test(a, b, *args):
    print(list(args))
    print(type(args))
    return a+b+sum(args)

asterisk_test(1,2,3,4,5)

[3, 4, 5]
<class 'tuple'>

15

In [ ]:
#keyword variable arguments

In [105]:
def kwargs_test_1(**kwargs):
    print(kwargs)
    print(type(kwargs))

kwargs_test_1(first=3, second = 4, third = 5, c = 10, d = 100)

{'first': 3, 'second': 4, 'third': 5, 'c': 10, 'd': 100}
<class 'dict'>

In [106]:
def kwargs_test_1(one, two = 3, *args, **kwargs):
    print(one+two+sum(args))
    print(kwargs)
    print(type(kwargs))

kwargs_test_1(10, 30, 3,5,6,7,8, first = 3, second = 4, third = 5)

69
{'first': 3, 'second': 4, 'third': 5}
<class 'dict'>

In [ ]:
#unpacking a container

In [108]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))
    
asterisk_test(1, *(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [109]:
def asterisk_test(a, args):
    print(a, *args)
    print(type(args))
    
asterisk_test(1, (2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [110]:
for data in zip(*([1,2], [3,4], [5,6])):
    print(data)

(1, 3, 5)
(2, 4, 6)

In [111]:
ex = ([1,2], [3,4], [5,6])
for value in zip(ex):
    print(value)

([1, 2],)
([3, 4],)
([5, 6],)